{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your Job Portal account.

To reset your password, please click the link below or copy and paste it into your browser:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, you can safely ignore this email.

Thanks for using our site!

The Job Portal Team
{% endautoescape %} 