{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="col-lg-6 offset-3 mt-3">
    <div class="box">
        <h3 class="heading">Set New Password</h3>
        {% if validlink %}
            <p class="lead">Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post">
                {% csrf_token %}
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="id_new_password1">New password</label>
                    <input type="password" name="new_password1" class="form-control" 
                           id="id_new_password1" required>
                </div>
                <div class="form-group">
                    <label for="id_new_password2">Confirm password</label>
                    <input type="password" name="new_password2" class="form-control" 
                           id="id_new_password2" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-white-primary">
                        <i class="fa fa-key"></i> Change Password
                    </button>
                </div>
            </form>
        {% else %}
            <p class="lead">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            <div class="text-center mt-4">
                <a href="{% url 'accounts:password_reset' %}" class="btn btn-outline-white-primary">
                    <i class="fa fa-refresh"></i> Request New Reset Link
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %} 